* {
  margin: 0 auto;
  padding: 0;
}
body {
  background: #0e0e0e;
}
#container {
  max-width: 1294px;
  height: 100%;
}

img {
  background: #010216;
  height: 100%;
  max-width: 250px;
}

nav {
  background: #dcb500;
  text-align: right;
  word-spacing: 15px;
  font-size: 12px;
  padding: 15px 20px 15px 0;
}
nav a {
  color: white;
  text-decoration: none;
}

section:nth-of-type(1) {
  background: #010216;
  text-align: center;
  color: #fffffe;
  padding: 0px 200px 0px 200px;
}

h1,
h3 {
  text-align: left;
  padding: 20px 0 20px 0;
}
p {
  text-align: justify;
}

ul {
  padding-left: 30px;
}
section:nth-of-type(2) {
  background: #fff;
  text-align: center;
  color: black;
  padding: 0px 200px 0px 200px;
}
button {
  background: #e40001;

  padding: 8px 40px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
}
button a {
  color: white;
}

section:nth-of-type(3) {
  background: #01184c;
  text-align: center;
  color: #fbfff0;
  padding: 0px 200px 20px 200px;
}
section:nth-of-type(3) table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

section:nth-of-type(3) table,
th,
td {
  border: 2px solid red;
}

section:nth-of-type(3) th {
  padding: 3px;
}

section:nth-of-type(3) td {
  padding: 8px;
}
td:nth-of-type(2n) {
  text-align: right;
}
tr:nth-of-type(7) {
  text-align: right;
}

section:nth-of-type(4) {
  background: #ffffff;
  text-align: left;
  color: black;
  padding: 30px 200px 30px 200px;
}
#scrollButton {
  text-align: center;
  margin-top: 20px;
}
#goUpButton {
  margin-top: 20px;
  color: black;
  text-align: center;
}

section:nth-of-type(5) {
  background: #dcb500;
  color: #fbfff0;
  text-align: center;
  padding: 10px 200px 10px 200px;
}
